body{
		overflow-y: hidden;
		margin: 0 auto;
		background-color: #f0f0f0;
	}
	.skewed-bg {
		background: #1f6da2;
		padding: 10px 0;
		-webkit-transform: skew(0deg, -15deg);
		-moz-transform: skew(0deg, -15deg);
		-ms-transform: skew(0deg, -15deg);
		-o-transform: skew(0deg, -15deg);
		transform: skew(0deg, -15deg);
		margin-top: -300px;

	}

	.fluid-container {
		display: flex;
		justify-content: center;
		height: 100vh;
		align-items: center;
	}

	.skewed-bg .content {
		-webkit-transform: skew(0deg, 15deg);
		-moz-transform: skew(0deg, 15deg);
		-ms-transform: skew(0deg, 15deg);
		-o-transform: skew(0deg, 15deg);
		transform: skew(0deg, 15deg);
		text-align: center;
		height: 370px;
		width: 500px;
		margin-top: 100vh;
		background: #FFFF;
		-webkit-box-shadow: 10px 24px 25px rgba(0, 0, 0, 0.12), 3px 5px 20px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:10px 24px 25px rgba(0, 0, 0, 0.12), 3px 5px 20px rgba(0, 0, 0, 0.1) inset;
		box-shadow: 10px 24px 25px rgba(0, 0, 0, 0.12), 3px 5px 20px rgba(0, 0, 0, 0.1) inset;
	}
	.fa-envelope-o{
    padding-top: 50px;
    font-size: 4rem;
    color: #1f6da2;
	}
	.first-msg{
		color: #1f6da2 ;
		font-size: 2.3rem;
		padding-top: 30px;
		font-family: sans-serif;
	}
	.second-msg{
		color: #424141;
		font-size: 1.1rem;
		letter-spacing: 1px;
	}
	.my-btn {
    font-size: 1.1rem;
    margin-top: 30px;
    padding: 10px 65px;
    border-radius: 15px;
    border: 1px solid #1f6da2;
    background-color: #1f6da2;
    color: #FFF;
    cursor: pointer;
}
	.fa-home{
		padding-left: 5px;
		font-size: 1.25rem;
	}